<link rel="stylesheet" href="/css/home.css">

<%if(locals.user.isAdmin){%>
    <div id="admin-container">

        <div id="assign-N-give-review">

            <div id="assign-review">
                <h3>Assign Review:</h3>
                <form action="/createReview" method="post">
                    <label for="recipient">Recipient:</label>
                    <select name="recipient" id="recipient">
                        <% for(user of all_users){%>
                            <option value="<%= user.id%>"><%= user.name%></option>    
                        <%} %>
                    </select>
                
                    <label for="reviewer">Reviewer:</label>
                    <select name="reviewer" id="reviewer">
                        <% for(user of all_users){%>
                            <option value="<%= user.id%>"><%= user.name%></option>    
                        <%} %>
                    </select>
                
                    <input type="submit" value="Assign">
                </form>
            </div>
            
        
            <div id="give-review">
                <div>
                    <h3>Give Review: </h3>
                </div>
                <form action="/adminReview" method="post">
                    <select name="recipient" id="recipient">
                        <% for(user of all_users){%>
                            <option value="<%= user.id%>"><%= user.name%></option>    
                        <%} %>
                    </select>
                    <textarea name="feedback" id="feedback" cols="30" rows="3" placeholder="Write feedback.."></textarea>
                    <input type="submit" value="Add">
                </form>
            </div>

        </div>

        
    
        <div id="all-reviews-list">
            <h2>Performance Reviews</h2>
            <% for(review of allReviews){%>
                <div id="single-review">
                    <div id="single-review-info">
                        <div>
                            From: <%= review.from_user.name%>
                        </div>    
                        <div id="single-feedback">
                            <h4><%= review.feedback%></h4>
                        </div>
                        <div>
                            To: <%= review.to_user.name%>
                        </div>
                    </div>
                    
                    <div>
                        <form action="/editReview/<%= review.id%>" method="post">
                            <textarea name="feedback" id="feedback" cols="30" rows="3" placeholder="Edit feedback.."></textarea>
                            <input type="submit" value="Update">
                        </form>
                    </div>
                </div>
            <%} %>
            
        </div>

    </div>
    
<%}else{%>
    <div id="employee-container"> 
        <h2>Performance reviews require your feedback</h2>
        <div id="feedback-container">
            <%for(feedback of curr_user.to_review){%>
                <div id="single-feedback-container">
                    <div>
                        <h4>To: <%= feedback.to_user.name%></h4>
                    </div>
                    <div>
                        <form action="/addFeedback/<%= feedback.id%>" method="post">
                            <textarea name="feedback" id="" cols="30" rows="3" placeholder="FeedBack..."></textarea>
                            <input type="submit">
                        </form>
                    </div>
                </div>    
            <%} %>
        </div>
    </div>
<%} %>

